<html>
	<head>
	</head>
	<body> 
		<div class="card bg-dark text-white">
			<img src="assets\img\fondo.png" class="card-img" alt="...">
			<div class="card-img-overlay">

				<Table border= "0" cellpadding = "0" cellspacing = "0" rowspacing ="100">
	
					<Tr>
						<Td>
						<h2 class="card-title">Formación</h2>
						
						
						<Td>
						<img class="boton-editar" src="assets\img\editar.png" alt="rebautizar iconos" width="50" height="50">
						
						<br>
					</Tr>
				
					<Tr>
						<Td>
						<h5 class="card-subtitulos">Educación secundaria</h5>
						<p class="card-text">2010-2015. Instituto nuestra señora de Lourdes - Bachiller en Ciencias Sociales</p>
						
						
						<Td>
						<img class="boton-eliminar" src="assets\img\eliminar.png" alt="rebautizar iconos" width="50" height="50">
						<img class="boton-agregar" src="assets\img\agregar.png" alt="rebautizar iconos" width="50" height="50">
						
					</Tr>
				
					<Tr>
						<Td>
						<h5 class="card-subtitulos">Argentina programa</h5>
						<p class="card-text">2021/oct-dic. #SéProgramar</p>
						
						
						<Td>
						<img class="boton-eliminar" src="assets\img\eliminar.png" alt="rebautizar iconos" width="50" height="50">
						<img class="boton-agregar" src="assets\img\agregar.png" alt="rebautizar iconos" width="50" height="50">
						
					</Tr>
			
					<Tr>
						<Td>
						<h5 class="card-subtitulos">Curso de formación</h5>
						<p class="card-text">2021/febr. ICARO - Curso virtual de base de datos</p>
						
						
						<Td>
						<img class="boton-eliminar" src="assets\img\eliminar.png" alt="rebautizar iconos" width="50" height="50">
						<img class="boton-agregar" src="assets\img\agregar.png" alt="rebautizar iconos" width="50" height="50">
						
					</Tr>
				
					<Tr>
						<Td>
						<h5 class="card-subtitulos">Argentina programa</h5>
						<p class="card-text">2022-actulmente. #YoProgramo</p>
						
						
						<Td>
						<img class="boton-eliminar" src="assets\img\eliminar.png" alt="rebautizar iconos" width="50" height="50">
						<img class="boton-agregar" src="assets\img\agregar.png" alt="rebautizar iconos" width="50" height="50">
					
					</Tr>
			
			
			
			
				</Table>
			</div>
		</div>
	</body>
</html> 