.boton-editar{
    margin-left: 50px;
}

.card-title{
    color: aqua;
}
.card-2{
    color: violet !important; 
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: auto;
    left: "200px";
    
}

