<html>
	<head>
	</head>
	<body> 
<div class="card bg-dark text-white">
    <div class="card-img-overlay">
        <div>
            <h1 class="card-title">Alan Gabriel Figueroa</h1>
        </div>
        <div class="d-flex justify-content-center">
            <img src="assets\img\foto_carnet.png" class="center" width="300" height="300">
        </div>
        <div>
            <h3 class="tittle-2" style="margin-bottom: 10%;">Programador full stack</h3>
            <h2 class="center">Acerca de mi</h2>
            <p class="card-subtitulos center">Soy estudiante de programación, cuento con un vasto conocimiento <br>
                en sistemas informáticos y con una gran capacidad para trabajar en grupo</p>
            <h3 class="center">Contacto</h3>
            <p class="center">alan_97@gmail.com</p>
            <p class="center" style="margin-bottom: 5%;"> Buenos aires, Argentina</p>
    </div>
</div>
</div></body></html>